#!/usr/bin/env bash

alias cat="bat"
alias current-branch="git rev-parse --abbrev-ref HEAD"
alias dc="docker compose"
alias de="docker exec"
alias dotcom-cs="gh cs create -R 'github/github' --devcontainer-path '.devcontainer/devcontainer.json' -b 'master' -m 'largePremiumLinux'"
alias dprune="docker system prune -a"
alias f="rg --files | fzf --preview 'bat --style=numbers --color=always {}'"
alias gaa="git add --all"
alias gai="git add --interactive"
alias gap="git add --patch"
alias gc="git checkout"
alias gcb="git checkout -b"
alias gcm="git commit -m"
alias gd="git diff"
alias ghrepo="gh repo view --web"
alias gpo="git push origin"
alias gpuo="git pull origin"
alias gs="git status"
alias idle="python3 ~/Code/andrewlazenka/idle/main.py"
alias ls="eza"
alias lg="lazygit"
alias n="nvim"
alias refresh="source ~/.zshrc"
