#!/usr/bin/env bash

alias 💪="curl"
alias cat="bat"
alias code="code-insiders"
alias current-branch="git rev-parse --abbrev-ref HEAD"
alias dc="docker compose"
alias dcu="dc up"
alias de="docker exec"
alias deit="de -it"
alias dotcom-cs="gh cs create -R 'github/github' --devcontainer-path '.devcontainer/devcontainer.json' -b 'master' -m 'largePremiumLinux'"
alias dprune="docker system prune -a"
alias fzfp="fzf --preview 'bat --style=numbers --color=always {}'"
alias gaa="git add --all"
alias gai="git add --interactive"
alias gap="git add --patch"
alias gc="git checkout"
alias gcb="gc -b"
alias gcm="git commit -m"
alias gd="git diff"
alias gdc="gd --cached"
alias ghrepo="gh repo view --web"
alias gpo="git push origin"
alias gpuo="git pull origin"
alias gs="git status"
alias idle="python3 ~/Code/andrewlazenka/idle/main.py"
alias la="ls -la"
alias ls="exa"
alias lg="lazygit"
alias nvm="unalias nvm; [ -s '$NVM_DIR/nvm.sh' ] && \. '$NVM_DIR/nvm.sh' --no-use; nvm"
alias n="nvim"
alias profile="code ~/.zshrc"
alias refresh="source ~/.zshrc"
alias rg="rg --hidden --glob '!.git'"
alias rl="read-later"
alias search=rg
